<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/materialize.js"></script>
    <link href="~/Content/materialize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/StileNewshore.css" rel="stylesheet" />
    <script src="~/Scripts/ScriptInitialization.js"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper white">
            <a href="#"><img src="~/Image/newshore.png" class="logo_nav"/></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html" class="black-text"  >Sass</a></li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
